body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-content {
  width: min(800px, 90%);
}

.back-arrow {
  visibility: hidden;
}

.header-profile {
  position: relative;
  cursor: pointer;
}

.user-modal {
  visibility: hidden;
  position: absolute;
  top: calc(36px + 16px);
  right: 0;
  width: 150px;
  display: flex;
  flex-direction: column;
  background-color: #d9d9d9;
}

.user-modal > button {
  padding: 10px 24px;
}

.user-modal > button:hover {
  background-color: #e0e0e0;
}

main {
  width: min(80%, 400px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.user-info-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.user-email {
  margin-top: 10px;
  height: 20px;
  font-size: 14px;
  font-weight: 400;
}

.btn {
  font-weight: 600;
  padding: 8px 0;
  border: none;
  outline: none;
  width: 100%;
  color: white;
  border-radius: 8px;
  margin: 10px 0 8px 0;
  cursor: pointer;
  background-color: #7f6aee;
}

.btn:disabled {
  background-color: #aca0eb;
  cursor: not-allowed;
}
